.body{
    background-image: url(169534-svet-seryj_cvet-chernyj_i_belyj-art-polutona_i_ottenki-3840x2160.png);
    background-size: cover;
}

.h1{
    color: aqua;
   filter: drop-shadow(8px 8px 12px ) ;
}

.button{
    box-shadow: 0 0 25px aqua
}

.video{
    box-shadow: 0 0 12px aqua;
    max-width: 720px;
    max-height: 480px;
    
}

.color_nav{
    background-color: rgb(32, 32, 32);
}

.color_button{
    color: cadetblue;
    filter: drop-shadow(8px 8px 10px)
}

.color_button_2{
    color: cadetblue;
    filter: drop-shadow(8px 8px 10px);
}